<ion-content [fullscreen]="true">

  <img src="assets/breakin.png" alt="" style="display:block; margin: 32px auto 24px auto; max-width: 150px;">

  <form>

    <app-input label="Email" type="email" [clear]="true" placeholder="owen@gmail.com" [required]="true" labelPlacement="stacked" fill="outline"></app-input>

    <app-input label="Password" type="password" placeholder="********" [required]="true" labelPlacement="stacked"></app-input>


    <app-button ClickHere="Sign in" shape="round" expand="block" fill="outline" > </app-button>

    <app-button ClickHere="Sign up" shape="round" expand="block" fill="outline"> </app-button>

    <app-button ClickHere="Create an account" expand="block" fill="clear"></app-button>
  </form>

</ion-content>