

<ion-content [fullscreen]="true">
    
  <app-input label="Nombre" type="text" [clear]="true" placeholder="Owen" [required]="true" labelPlacement="stacked" fill="outline"></app-input>
  <app-input label="Apellido" type="text" [clear]="true" placeholder="Badel" [required]="true" labelPlacement="stacked" fill="outline"></app-input>

    <app-input label="Email" type="email" [FormController]="emailControl"  [clear]="true" placeholder="owen@gmail.com" [required]="true" labelPlacement="stacked" fill="outline"></app-input>
  
   <app-select label="Country"></app-select>
    <app-input label="Password" type="password" [FormController]="passwordControl" placeholder="********" [required]="true" labelPlacement="stacked" fill="outline"></app-input>


    <app-button ClickHere="Back" type="submit" size="small" shape="round" expand="block" fill="outline" routerLink="/login"> </app-button>

    <app-button ClickHere="Create" size="small" expand="block" fill="clear" routerLink="/home"></app-button>
  
</ion-content>
