

<ion-content [fullscreen]="true">
    
  <app-input label="Nombre" type="text" [clear]="true" placeholder="Owen" [required]="true" labelPlacement="stacked" fill="outline"></app-input>
  <app-input label="Apellido" type="text" [clear]="true" placeholder="Badel" [required]="true" labelPlacement="stacked" fill="outline"></app-input>

    <app-input label="Email" type="email" [FormController]="emailControl"  [clear]="true" placeholder="owen@gmail.com" [required]="true" labelPlacement="stacked" fill="outline"></app-input>
  
    <ion-select aria-label="Favorite Fruit" value="apple">
      <ion-select-option value="apple">Apple</ion-select-option>
      <ion-select-option value="banana">Banana</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
    </ion-select>    <app-input label="Password" type="password" [FormController]="passwordControl" placeholder="********" [required]="true" labelPlacement="stacked" fill="outline"></app-input>


    <app-button ClickHere="Back" type="submit" size="small" shape="round" expand="block" fill="outline" routerLink="/login"> </app-button>

    <app-button ClickHere="Create" size="small" expand="block" fill="clear" routerLink="/home"></app-button>
  
</ion-content>
